/************************************** 
Default page style  
**************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    height: 100%;
}
  
body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;
}

/* Style nav bar title */
#page-title {
   font-family: Rampart One;
   font-size: 40px;
   color: lightgoldenrodyellow;
}

/* Change color of icon */
nav i {
    color: brown;
}

nav {
    background-color: goldenrod;
}

.nav-btn {
    background-color:darkred;
    color: white;
}

#mealList{
    overflow:scroll;
    height:80vh;
    padding:0px;
}

.meal 
{
    background-color: orange;
    color:black;
    border-top: 1px dashed black;
    border-radius: 15px; 
    width:100%;
}

.mealBtn 
{
    padding: 0px;
    border-radius: 20px;
    color: white;
    height:100%;   
}
  
  .mealBtn i:hover {
    opacity:-15;  
}

.mealTxt {
    font-size:16;
    color:black;
    height:100%;
    text-align:center;
}
.mealPhoto {
    border-radius: 20px;
    width:100%;
    height:auto;
    display: block;
    object-fit: cover;
  }
  .mealPhoto:hover {
    opacity:0.5;  
}

#ingredient-list {
    height:80vh;
    overflow:scroll;
}
#mealDbPhoto {
    width:100%;
    height:auto;
    display: none;
    object-fit: cover;
}

.google-image {
    width: auto;
    height: auto;
    display: block;
}

.list-group-item {
    background-color: lightsalmon;
}

.recipe {
    background-color:rgba(139, 0, 0, 0.481);
    padding: 2rem;
    margin: 2rem;
    color: black;
    font-size: 24px;
    border: 6px double goldenrod;
    border-radius: 2rem;
    font-style:italic;
    line-height:2;
    display:block;
    font-family: Dosis;
}