/* Style nav bar title */
#page-title {
   font-family: Rampart One;
   font-size: 40px;
   color: white;
}

/* Change color of icon */
nav i {
    color: white;
}


#mealList{
    overflow:scroll;
height:100vh;
    background-color: lightgray;
    padding:10px;
}

.meal 
{
    background-color:lightblue;
    color:black;
    border-top: 1px dashed black;
    border-radius: 15px; 
    width:100%;
}

.mealBtn 
{
    padding: 0px;
    border-radius: 20px;

    color: white;
    height:100%;   
  }
  
  .mealBtn i:hover {
    opacity:-15;  
}

.mealTxt {
    font-size:16;
    color:black;
    height:100%;
    text-align:center;
}
.mealPhoto {
    border-radius: 20px;
    width:100%;
    height:auto;
    display: block;
    margin: auto;
    object-fit: cover;
  }
  .mealPhoto:hover {
    opacity:0.5;  
}